:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#main-container {
  height: 100vh;
  width: 100vw;
}

.chart-container {
  height: 100%;
}
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

svg {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
}

.bar {
  transition: fill 0.2s;
}
.chart-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.chart-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: auto;
}