:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.select-label {
  margin-right: 0.5rem;
  display: inline-block;
  height: 1.5rem;
  align-self: center;
}

.filter-label {
  position: relative;
  z-index: 5;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-clamp: 2;
  align-self: center;
}

.filter-label:hover {
  overflow: visible;
  position: relative;
  z-index: 5;
  -webkit-line-clamp: none;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

#main-container{
  height: 100vh;
  width: 100vw;
}

.chart-container{
  height: 100%;
  max-width: 100%
}

.small-multiples-container{
  /* max-height: 40vh;
  min-height: 10vh; */
  height: 100%;
}

.overview-chart-container{
  height: 100%;
  max-width: 100%
  /* background-color: lightblue; */
}

.detail-chart-container {
  height: 100%;
  max-width: 100%;
  /* background-color: lightblue; */
}

.tooltip {
  -webkit-filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .2));
  background-color: ghostwhite;
  border-radius: 4px;
  padding: 10px 20px;
  position: absolute;
  z-index: 999;
}

.defaultNode {
  opacity: 0.9;
}

.hoveredNode {
  -webkit-filter: drop-shadow( 0px 0px 6px rgba(0, 0, 0, 0.8));
  filter: drop-shadow( 0px 0px 6px rgba(0, 0, 0, .8));
}

.selectedNode {
  opacity: 1;
  -webkit-filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, 0.65));
  filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, 0.65));
}

.nonSelectedNode {
  opacity: 0.1;
}

.hoveredLink {
  -webkit-filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, 0.4));
  filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .4));
  mix-blend-mode: normal;
  stroke-opacity: 1;
}

.highlightedLink {
  -webkit-filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .2));
  mix-blend-mode: normal;
  stroke-opacity: 0.8;
}

/* onClick interrupts onHover event */

.transparentLink {
  /* safari renders soft-light as transparent for some reason?? */
  /* mix-blend-mode: soft-light; */
  stroke-opacity: 0.25;
}

.defaultLink {
  /* safari renders soft-light as transparent for some reason?? */
  /* mix-blend-mode: soft-light; */
  stroke-opacity: 0.6;
  -webkit-filter: drop-shadow( 0px 0px 0rem rgba(36, 36, 36, 0.1));
  filter: drop-shadow( 0px 0px 0px rgba(36, 36, 36, 0.1));
}

/* https://stackoverflow.com/questions/6092239/css3-one-way-transition */