:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #2c3e50;
}

.Greeting_div, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2938;
  color: #718792;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px;
  padding: 1rem;
}

.MainBody {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  background-color: #4a6572;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
}

.grid-container > div {
  background-color: #718792;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.row1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.row2-left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.row2-right {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}


.Greeting_div {
  flex-direction: column;
}

#parallel-coordinates-container-graph1 {
  display: flex;
  width: 100%;
  height: 60vh;
}

#pie-container-graph2, #bar-container-graph3 {
  display: flex;
  width: 100%;
  height: 60vh;
}

.text-muted {
  color: #6c757d;
}
